* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

html {
	font: 100%/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #b5b5af;
	color: #080f15;
}

.wrap {
	width: 95%;
	max-width: 40rem;
	margin: 2rem auto;
	padding: 1rem;
	background-color: #fffceb;
	box-shadow: 0 1.25rem 1rem -1rem rgba(0,0,0,0.25);
}

nav ul {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

nav li {
	list-style: none;
	width: 50%;
}

nav li a {
	display: block;
	background: #007aff;
	color: #fffceb;
	text-decoration: none;
	border-radius: 0.4rem;
	padding: 0.2rem 0.5rem;
	font-weight: bold;
	text-align: center;
}

nav li + li a {
	margin-left: 0.2rem;
}

.timeline .wrap > ul li {
	list-style: none;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 1rem;
}

.timeline .wrap > ul li:last-child {
	margin-bottom: 2rem;
	border-bottom: 0;
	padding-bottom: 0;
}

.timeline .pagination { overflow: hidden; }
.timeline .pagination a {
	display: block;
	background: #007aff;
	color: #fffceb;
	text-decoration: none;
	border-radius: 0.4rem;
	padding: 0.2rem 0.6rem;
	font-weight: bold;
	float: left;
}
.timeline .pagination .next { float: right; }

.wrap .post-timestamp {
	display: block;
	color: #007aff;
	text-decoration: none;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.wrap .post-content {
	font-size: 1.25rem;
	overflow-wrap: break-word;
}

.wrap .post-content a {
	color: #007aff;
	text-decoration: none;
}

.postform form,
.login form {
	overflow: hidden;
}

.postform textarea {
	width: 100%;
	border: 2px solid #b5b5af;
	padding: 0.5rem;
	font-size: 1.25rem;
	resize: vertical;
	min-height: 10rem;
	margin-bottom: 0.5rem;
}

.postform textarea:focus {
	border-color: #007aff;
	outline: none;
}

.postform input[type="submit"],
.login input[type="submit"] {
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	display: block;
	background: #007aff;
	color: #fffceb;
	text-decoration: none;
	border-radius: 0.4rem;
	padding: 0.3rem 0.8rem 0.4rem;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	float: right;
}

.postform #count {
	float: left;
	color: #b5b5af;
}

.postform .message,
.login .message {
	background-color: #87b26c;
	padding: 0.5rem;
	color: #fffceb;
	border-radius: 0.4rem;
	margin-bottom: 0.5rem;
}

.postform .error,
.login .error {
	background-color: #9c2128;
}

.login input[type="text"],
.login input[type="password"] {
	width: 100%;
	border: 2px solid #b5b5af;
	padding: 0.5rem;
	font-size: 1.25rem;
	resize: vertical;
	margin-bottom: 0.5rem;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
	border-color: #007aff;
	outline: none;
}
